canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

header{
  background-color: D25380;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  display: flex;
}

.header-title{
  text-align: left;
  color:white;
  margin: 14px;
  font-size: 18px;
}

nav{
  position: absolute;
  right: 0;
  display: flex;
}

a{
  text-decoration: none;
  color: white;
  float: left;
  padding: 15px;
}

a:hover{
  color: black;
}
